/* Default selection */
::selection {
  background: #8a5df7; /* or your preferred light mode color */
  color: #000000;
}

/* Increase the default font size */
html {
  font-size: 20px;
}

.prose {
  max-width: 80ch;        /* tighter reading measure */
  margin-inline: auto;   /* center it */
}

/* Light mode background */
body {
  background-color: #ffffff !important;  /* White */

	}

/* Light mode */
html:not(.dark) body {
  color: #000000 !important;
}

html:not(.dark) .prose {
  color: #000000 !important;
}

/* Dark mode background */
html.dark body {
  background-color: #000000 !important;  /* Very dark gray */
}


/* Dark mode: body text only */
html.dark body {
  color: #ffffff !important;
}

/* Dark mode: body text inside prose */
html.dark .prose {
  color: #ffffff !important;
}


